#teleperiod_placeholder {
    border:#ccc 1px solid;
}

#teleperiod_placeholder .main {
    fill:rgb(250,250,250);

}

#teleperiod_placeholder .day rect {
    fill:rgb(240,240,240);
}

#teleperiod_placeholder .day .weekday {
    fill:#bbb;
    opacity:.5;
    font-size:12px;
    font-family: Arial;
}

#teleperiod_placeholder .day .date {
    fill:#ffa05b;
    font-size:16px;
    font-family: Arial;
    text-anchor: middle;
    font-weight:bold;

    text-shadow: 1px 1px 2px rgba(150, 150, 150, .6);
}


#teleperiod_placeholder .dayoff rect {
    fill:#f2f7e8;
}


#teleperiod_placeholder .buttonbg {
    fill:#999;
    cursor:pointer;
    opacity:.5;
}

#teleperiod_placeholder .buttonbg:hover {
    fill:#444;
}
