#teleperiod_placeholder {
    border:#ccc 1px solid;
}

#teleperiod_placeholder text {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

#teleperiod_placeholder .main {
    fill:rgb(250,250,250);

}

#teleperiod_placeholder .day rect {
    fill:#f2f7e8;

}

#teleperiod_placeholder .day .workingtime {
    fill:rgba(150, 150, 150, .15);
    cursor:pointer;
}

#teleperiod_placeholder .day .selection {
    fill:rgba(255, 100, 100, .5);
    cursor:pointer;
}


#teleperiod_placeholder .day .weekday {
    fill:#bbb;
    opacity:.5;
    font-size:12px;
    font-family: Arial;


}

#teleperiod_placeholder .day .month {
    fill:#ffa05b;
    font-size:14px;
    font-family: Arial;
    user-select: none;
}

#teleperiod_placeholder .day .date {
    fill:#ffa05b;
    font-size:16px;
    font-family: Arial;
    text-anchor: middle;
    font-weight:bold;

    text-shadow: 1px 1px 2px rgba(150, 150, 150, .6);
    user-select: none;
}


#teleperiod_placeholder .dayoff rect {
    fill:rgb(240,240,240);
}


#teleperiod_placeholder .button {
    cursor:pointer;
    opacity:.7;
}

#teleperiod_placeholder .buttonbg {
    fill:#999;
}


#teleperiod_placeholder .buttonarrow {
    fill:#ffa05b;
}


#teleperiod_placeholder .button:hover {
    opacity:.9;
}


#teleperiod_placeholder .wtTooltip {
    fill:#ffa05b;
    opacity:.7;
    pointer-events: none;
}

#teleperiod_placeholder .wtTooltip * {
    pointer-events: none;
}


#teleperiod_placeholder .wtTooltipDate,
#teleperiod_placeholder .wtTooltipHour {
    fill:#000;
    font-size:10px;
    font-family: Arial;
}

#teleperiod_placeholder .wtTooltipHour {
    font-size:13px;
    font-weight:bold;
}
